<!DOCTYPE html>
<html lang="en">
    <title>Splash</title>
    
    <body>
        <h1>Custos</h1>
        <h2>Login</h2>
        <form action="/" method="POST">
            E-Mail: <input name="email" type="text" autocomplete="off"/>
            <br>
            Password: <input name="password" type="password"/>
            <input type="submit">
        </form>
    </body>
</html>